* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: inline;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 100px;
}

.blue {
  background-color: #0282f9;
  color: white;
}
.blue ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.white {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.white ul {
  display: flex;
  justify-content: space-between;
}
.white ul li {
  margin-left: 10px;
}

.background {
  background-image: url("../../../public/img/jumbotron.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-position-y: initial;
  position: relative;
}

main {
  background-color: #1c1c1c;
}

.container {
  padding: 1em 10%;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 1rem;
  width: 12.5%;
}

.texts {
  padding: 10px 0px;
}

footer {
  position: relative;
  background-image: url("../../img/footer-bg.jpg");
  background-position: center;
  background-size: contain;
}
footer .background-img {
  position: absolute;
  right: 200px;
  height: 78%;
}
footer .container-footer {
  padding: 0 10%;
  display: flex;
  padding-top: 2em;
  padding-bottom: 3em;
}
footer .container-footer div {
  margin-right: 1.5em;
}
footer .container-footer div ul {
  list-style: none;
  margin-bottom: 1em;
}
footer .container-footer div ul li:first-child {
  color: white;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1em;
}
footer .container-footer div ul li a {
  color: grey;
  text-decoration: none;
  font-size: 0.8em;
}
footer p {
  padding: 0 40% 0 10%;
  font-size: 0.9em;
  color: grey;
}
footer p a {
  text-decoration: none;
}
footer .contact {
  padding: 0 10%;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer .contact .container-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact .container-footer-bottom button {
  color: white;
  padding: 1em;
  cursor: pointer;
}
footer .contact .container-footer-bottom ul {
  display: flex;
  align-items: center;
  list-style: none;
}
footer .contact .container-footer-bottom ul li:first-child {
  font-size: 1.2em;
  font-weight: bold;
}
footer .contact .container-footer-bottom ul li {
  margin-left: 1em;
}
footer .contact .container-footer-bottom ul .link a img {
  width: 30px;
  height: 30px;
}