main{
	
	background-color:#1c1c1c;
	
}
.container{
	padding: 1em 10%;
	color: white;
}
.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card{
	margin: 1rem;
	width: calc((100% / 8));
}
.texts{
	padding: 10px 0px;
}